// paths 
$image_path: "../images";

//colors
// Blue color palette
$clr-blue-light:#a3d2d6;//Light 
$clr-blue-normal:#66b4ba;
$clr-blue-medium:#00828d;
$clr-blue-varient:#00a9c5;

// Yellow color palette
$clr-yellow-light:#e2e17d;
$clr-yellow-normal:#00aac5;
$clr-yellow-medium:#dedd6f;